body {
  font-family: Arial, sans-serif;
  background-color: #fb5533;
  margin: 0;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.navbar {
  width: 100%;
  background-color: #000;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 24px; /* Tamanho maior para subtítulo */
  font-weight: bold;
  display: inline-block;
  margin-left: 10px; /* Espaçamento entre a imagem e o texto */
  text-decoration: none; /* Remover sublinhado */
}

.navbar i {
  font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
  display: inline-block;
}

.container {
  text-align: center;
  margin-top: 60px; /* Ajuste para compensar a barra de navegação fixa */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #ffffff;
  border: 2px solid #FF6600;
  color: #FF6600;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button[disabled] {
  background-color: #aaa;
  cursor: not-allowed;
}

.button:hover:not([disabled]) {
  background-color: #FF6600;
  color: #ffffff;
  border-color: #000000;
}

.note {
  width: 100%;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
}

.note h3 {
  margin: 0;
  text-align: center;
  font-size: 24px; /* Tamanho maior para subtítulo */
}

#openTabsList {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-top: 20px; /* Maior distância do formulário */
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px; /* Diminuir largura */
  height: 20px; /* Diminuir altura */
  margin-left: 10px; /* Espaçamento entre os botões */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px; /* Ajustar borda */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; /* Diminuir altura */
  width: 14px; /* Diminuir largura */
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #FF6600;
}

input:checked + .slider:before {
  transform: translateX(20px); /* Ajustar posição */
}

input:not(:checked) + .slider {
  background-color: #ccc;
}

input:not(:checked) + .slider:before {
  transform: translateX(0);
}
